* {
  margin: 0;
  padding: 0;
}

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 210px;
  height: 210px;
  align-self: center;
  justify-self: center;
}

.tic {
  border: 1px solid black;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  font-family: "Roboto";
  font-weight: 600;
}

.disabled {
  pointer-events: none;
}

.winnerText {
  margin-top: 10px;
  text-align: center;
  font-family: "Roboto";
  font-size: 24px;
}